
@{
    Layout = null; 
}

<!DOCTYPE html>
<html>
<head>
    <title>Access Denied</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/AccessDenied.css" rel="stylesheet">
</head>
<body>
    <div class="center-container">
        <h1>Erişim Talebiniz Reddedildi</h1>
        <p>Eğer bunun bir hata olduğunu düşünüyorsanız veya bu alana erişmeniz gerekiyorsa lütfen <a href="mailto:admin@gmail.com">bizimle</a> iletişime geçin!</p>
        <a class="btn btn-info my-2" asp-controller="Home" asp-action="Index">Ana Sayfaya Dön</a>
    </div>
</body>
</html>
